.top-bar {
  position: fixed; 
  top: 0;          
  left: 0;         
  width: 100%;     
  height: 60px; 
  box-sizing: border-box; 
  
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  background-color: #1a202c; 
  padding: 0 30px;   
}   

.logo {
  color: white;
  margin: 0px;
  font-size: 1.8rem;

}
.logo span {
  color: orange;
}

.createNewSemester-btn{
  padding: 8px 16px;
  border-radius: 0px;
  border: none;
  background-color: orange;
  color: white;

}

.dashBoard-content {
    margin-top: 60px; 
    padding: 20px;
    color: white;
}


body{
    margin: 0;
    background-color: #2d3748; 
    font-family: sans-serif;
}
