.title {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
}

.orange {
  color: orange;
  text-align: center;
  font-weight: bold;
}

body{
  background-color: #282c34;
  font-family: sans-serif;
}